<!DOCTYPE html>
<html>
  <head>
    <title>Petro Plus</title>
    <style>
      h1{
        font-family:Roboto;
        font-size:40px;
        color:rgb(50,50,50);
        text-align:center 
      }
      h2{
        font-family:Roboto;
        font-size:32px;
        color: rgb(100, 100, 100);
        text-align:center 
      }
      #why{
        object-fit:cover;
        width:50%
      }
      #banner{
        object-fit:cover;
        width:100%
      }
    </style>
  </head>
  
  <body>
    <p>Thinking about a new set of summer tires before your journey?</p>
    <h1>HAVE A SAFE TRIP</h1>
    <img id="banner" src="/static/banner.jpg" height="320">
    <h2>Why Petro Plus?</h2>
    <p>We have trained and experienced technicians who use high-quality tools and equipment to diagnose and repair your car and will also give you specialized recommendations on which tires to choose best for your vehicle.</p>
    <img id="why" src="/static/why-petro plus.jpg" height="320">

    <h2>OUR SERVICES</h2>
    <P>Some of the services we offer include routine maintenance services like oil changes, tire rotations, and brake inspections, as well as more in-depth repairs like engine diagnostics and tune-ups. We use state-of-the-art diagnostic equipment to identify and resolve issues, and only use high-quality parts to ensure the longevity and safety of your vehicle.</P>
    <ul>
      <li>Diagnostic services</li>
      <li>Routine maintenance services</li>
      <li>Tire services</li>
      <p> offer tire services such as tire replacements, wheel alignments, and tire balancing.</p>
      <li>Other services</li>
      <p>Depending on the location, we also offer additional services such as air conditioning repair, battery replacement, and more.</p>
    </ul>
    
  </body>
</html>